*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body {
 background-color: #ADD8E6;
 font-family: 'Courier New', Courier, monospace;
}
p{
    text-align: center;
}
/* style of the box of the game */
.game{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    background-image: url("sky.svg");
    position: center;
    margin: auto;
}
/* style of the character controlled by the player */
#character{
    background-image: url("slp.gif");
    position:fixed;
    top: 170px;
    width: 30px;
    height: 42px;
}
/* style of the bullit */
#weapon{
    background-image: url("bullit.gif");
    position:fixed;
    top: 170px;
    width: 18px;
    height: 20px;
}
/* style of the lower obstacle */
#block{
    background-image: url("tree.gif");
    width: 90px;
    height: 200px;
    position: relative;
    top: 200px;
    left: 1000px;
}
/* style of the upper obstacle */
#block2{
    background-image: url("spider.gif");
    width: 70px;
    height: 200px;
    position: relative;
    bottom: 54%;
    left: 1000px;
    animation-delay: 2s;
}
/* style of the monster */
#villain{
  background-image: url("vil.gif");
  position: fixed;
  top: 170px;
  right: 420px;
  width: 44px;
  height: 58px;
}

/* functions for animation, time can be adjusted as desired */
.animate{
    animation: jump 1s linear;
}
.animatedown{
    animation: jumpdown 1s linear;
}
.animateshoot{
    animation: shoot 0.5s linear;
}
.animatevillain{
    animation: villainmove 4s linear;
}
/* path of the animations (from where to where they move) */
@keyframes shoot{
    0%{left: 420px;}
    30%{left: 600px;}
    65%{left: 780px;}
    100%{left: 1000px;}
}
@keyframes villainmove{
  0%{right: : 350px;}
  30%{right: 700px;}
  70%{right: 1050px;}
  100%{right: 1390px;}
}
@keyframes jump{
    0%{top: 170px;}
    30%{top: 100px;}
    70%{top: 60px;}
    100%{top: 170px;}
}
@keyframes jumpdown{
    0%{top: 170px;}
    30%{top: 240px;}
    70%{top: 280px;}
    100%{top: 170px;}
}
@keyframes block{
    0%{left: 1000px}
    100%{left: -80px}
}
@keyframes block2{
    0%{left: 1000px}
    100%{left: -80px}
}
