*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    position:relative;
    top: 170px;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: green;
    width: 30px;
    height: 75px;
    position: relative;
    top: 95px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
#clock{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    position:fixed;
    top: 70px;
    right: 400px;
}
p{
    text-align: center;
}
