*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    background-image: url("skyy.svg");
    position: center;
    margin: auto;
}
#character{
    background-image: url("slp.gif");
    position:fixed;
    top: 170px;
    width: 30px;
    height: 42px;
}
#weapon{
    background-image: url("bullit.gif");
    position:fixed;
    top: 170px;
    width: 18px;
    height: 20px;
}

#villain{
  background-image: url("vil.gif");
  position: fixed;
  top: 170px;
  right: 420px;
  width: 44px;
  height: 58px;
}
.animate{
    animation: jump 1s linear;
}

.animatedown{
    animation: jumpdown 1s linear;
}
.animateshoot{
    animation: shoot 1s linear;
}
.animatevillain{
    animation: villainmove 4s linear;
}
@keyframes shoot{
    0%{left: 420px;}
    30%{left: 700px;}
    70%{left: 1000px;}
    100%{left: 1300px;}
}
@keyframes villainmove{
  0%{right: : 350px;}
  30%{right: 700px;}
  70%{right: 1050px;}
  100%{right: 1380px;}
}
@keyframes jump{
    0%{top: 170px;}
    30%{top: 100px;}
    70%{top: 60px;}
    100%{top: 170px;}
}

@keyframes jumpdown{
    0%{top: 170px;}
    30%{top: 240px;}
    70%{top: 280px;}
    100%{top: 170px;}
}

#block{
    background-image: url("treefin.gif");
    width: 70px;
    height: 200px;
    position: relative;
    top: 190px;
    left: 1000px;
    animation: block 6s infinite linear;
}
@keyframes block{
    0%{left: 1000px}
    100%{left: -80px}
}

#block2{
    background-image: url("spin.gif");
    width: 70px;
    height: 200px;
    position: relative;
    bottom: 54%;
    left: 1000px;
    animation: block2 6s infinite linear;
    animation-delay: 2s;
}
@keyframes block2{
    0%{left: 1000px}
    100%{left: -80px}
}


/* #clock{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: red;
    position: relative;
    top: -100px;
    left: 400px;
}
*/
body {
 background-color: #ADD8E6;
}
p{
    text-align: center;
}
